Setup and loading InData class from a file

In [28]:
from indata_pro_ops import InData
import pyodbc
import pandas as pd

## Accesing testing .json file (from server) and preprocessing it

In [23]:
# Temporary for testing purposes, preload test1.json
test1 = InData("test1.json")
test1.extract()
print(test1.username)
print(test1.open[1])

Tester_manual
2023-10-26 12:10:13

## Establishing connectrion with SQL server (MySQL localhost for testing purpose)

In [25]:
# Establishing connection, using Devart ODBC Driver (Devart ODBC Driver for MySQL)
conn = pyodbc.connect('Driver={Devart ODBC Driver for MySQL};'
                      'User ID=root;'
                      'Password=legolas112;'
                      'Server=127.0.0.1;'
                      'Database=smokeout;'
                      'Port=3306;'
                      'Trusted_Connection=yes;')
# To perform any SQL QUERYs in pyodbc cursor() is needed
cursor = conn.cursor()
# Building QUERY strings:
# -------------------------------------------
#               WARNING!!!
# In MySQL syntax is different than in other SQL applications so for testing
# and final implementation there is need for different coding
# -------------------------------------------

# Inserting username into `user` table
username_insert = "INSERT INTO `smokeout`.`user` (`username`) VALUES ('"+test1.username+"');"
print(username_insert)
cursor.execute(username_insert)

# Commiting changes
conn.commit()

INSERT INTO `smokeout`.`user` (`username`) VALUES ('Tester_manual');

In [30]:
# Getting UserID from username - https://stackoverflow.com/questions/64565904/how-to-use-pd-read-sql-using-mysql-connector
UserID = pd.read_sql("SELECT UserID FROM user\nWHERE username="+test1.username, conn)
# Inserting opening and switching times
for i in test1.switch:
    switch_insert = "INSERT INTO `smokeout`.`user` (`username`) VALUES ('"+test1.username+"');"

C:\Users\01122464\AppData\Local\Temp\ipykernel_6532\619025968.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  UserID = pd.read_sql("SELECT UserID FROM user\nWHERE username="+test1.username, conn)

DatabaseError: Execution failed on sql 'SELECT UserID FROM user
WHERE username=Tester_manual': ('HY000', "[HY000] [Devart][ODBC][MySQL]#42S22Unknown column 'Tester_manual' in 'where clause' (0) (SQLExecDirectW)")